.login{
    margin: 0px;
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
}
form{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    align-items: start;
}
.form{
    padding: 3vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 80vh;
    width: 37vw;
    background-color: blue;
}

#loginForm{
    border-radius: 2vmin 0vmin 0vmin 2vmin;
    background-color: rgb(243, 243, 243);
    justify-content: flex-start;
    /* align-content: center; */
    box-shadow: 2px 2px 2px black;
}

#signupForm{
    display: block;
    border-radius: 0vmin 2vmin 2vmin 0vmin;
    background-color: rgb(134, 132, 207);
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 2px black;
    color: white;
}

.form form p{
    font-style: bold;
    /* margin-left: 6vmin; */
    font-size: 4vmin;
}

.form h1{
    width: 100%;
    font-size: 8vmin;
    font-style: bold;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin: 0px;
    margin-top: 3vmin;
}

.user{
    border-radius: 10vmin;
    background-color: rgb(207, 206, 206);
    border: none;
    border-bottom: 0.5vmin solid black;
    /* margin-left: 6vmin; */
    width: 35vw;
    height: 6vmin;
    font-size: 3vmin;
}

#sin{
    font-style: bold;
    color: white;
    width: 100%;
    font-size: 3vmin;
    border-radius: 10vmin;
    background-color: rgb(134, 132, 207);
    border: none;
    padding: 2vmin;
    margin-top: 3vmin;
    /* margin-left: 35vmin; */
}

.forget{
    justify-content: center;
    text-align: center;
    font-size: 3vmin;
}

a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 3vmin;
}

#signupForm h1{
    color: white;
}

#signupForm h3{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

#signupForm button{
    font-style: bold;
    width: 100%;
    font-size: 3vmin;
    border-radius: 10vmin;
    background-color: rgb(207, 206, 206);
    border: none;
    padding: 2vmin;
    margin-top: 3vmin;
    /* margin-left: 35vmin; */
}

@media (max-width: 600px) {
    .login{
        flex-direction: column-reverse;
        flex-wrap: nowrap
    }
    #signupForm{
        height: 40vh;
        width: 80vw;
        border-radius: 2vmin 2vmin 0vmin 0vmin;
    }
    #loginForm{
        height: 40vh;
        width: 80vw;
        border-radius: 0vmin 0vmin 2vmin 2vmin;
    }

    .user{
        width: 75vw;
    }
}